<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:text="${title}"></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/layui/default/layer.css">

    <th:block th:replace="::css">
    </th:block>



    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>



    <!--TIPS-->
    <!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" >

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container" 　th:replace="::content">
    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<!--JAVASCRIPT-->
<!--=================================================-->

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/adminlte.js"></script>
<script src="/plugins/layui/layer.js"></script>
<th:block class="script" th:replace="::scripts"></th:block>
</body>
</html>